



/* #region main-header */

.header-logo, .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  

}
 .header-logo {
    color: #4D5AE5;
    letter-spacing: 0.03em;
    padding: 24px 0;
    margin-right: 76px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .header-logo-studio {
  color: #2E2F42;
}
.header-logo:hover,
.header-logo:focus  {
    color: #404bbf
}

.header-container {
    display: flex;
    align-items: center;
}


/* #endregion main-header*/
/* #region main-section */





/* #endregion main-section */
/* #region section-principles */



.principle-icon {
     fill: #2a2a2a;

}
.principle-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
}
.principle-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
}
.principles-ul {
    display:flex;
    align-items: flex-start;
    gap: 24px;
}

/* #endregion section-principles */
/* #region section-team */
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    
}
.team {
    background-color: #F4F4FD;
  
}
.title {
    margin-bottom: 72px;
}












/* #endregion section-team */

/* #region section-portfolio */ 



/* #endregion section-portfolio */

/* #region site-footer */





.footer-icons-block{
 
}


.footer-left-block {
    margin-right: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.footer-icon {
    fill: #f4f4fd;
}
.footer-icon-li {
    display: flex;
    justify-content: center;
     align-items: center;
}
.subscribe-block {

}





.subscribe-input::placeholder {
     color: #ffffff;
}


/* #endregion site-footer */

/* #region modal-callback */


.callback-form {
   
}






/* #endregion modal-callback */